
@media only screen and (max-width: 1024px)/*tablet*/
{
body
	{margin: 0px;
	 padding: 0px;
         background-color:#FFF;
         background-image: none;}

#wrapper
	{width: auto;
	 min-width: 0px;
	 margin: 0;}

h1
	{margin: 0px;
	 text-align: center;
	 font-size: 2em;
	 line-height:200%;}
nav
	{float: none;
	 width: auto;}
nav li
	{display: inline-block;}
nav a
	{padding: 1em;
	 border-style: none;
	 font-size: 1.2em;}
nav ul
	{text-align: center;
	 padding: 0px;
	 margin: 0px;}
main
	{margin: 0px;
	 padding-top:0px;
	 padding-bottom:0px;
	 padding-right:1em;
	 padding-left: 1em;
	 font-size:90%;}
dd
	{margin-bottom:1em;}
footer
	{margin:0px;}

}
@media only screen and (max-width: 768px)/*smartphone*/
{
header
	{background-image: url(lilfish.gif);
         background-position: center;
         background-repeat: no-repeat;}
h1
	{font-size: 1.5em;
	 line-height:120%;}
nav a
	{display: block;
	 padding: 0.2em 0;
	 font-size: 1.3em;
	 border-bottom:1px ridge #300;}
nav li
	{display:block;}
nav ul
	{text-align:left;}
main
	{padding-left:0.4em;}
.category
	{text-shadow:none;}
footer
	{padding:0px;}
#mobile
	{display: inline;}
#desktop
	{display: none;}
}